/* CSS for adding content example */

body {
  background: url('initial.jpg');
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

li {
  display: inline;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.checked {
  color: orange;
}

.loginnav {
 
  background-color:lightgrey;
  border-radius: 10px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  /*border: 2px red solid;*/
  float: center;
  margin: 0 auto;
  display: block;
  width: 50%;
}

.logintext {
  font-size: 70px;
}

.class_search {
  /*border: 2px red solid;*/
  text-align: center;
  float: center;
  margin: 0 auto;
  display: block;
  
}

.search_button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #524852;
  -moz-box-shadow: 0px 1px 3px #524852;
  box-shadow: 0px 1px 3px #524852;
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}

.search_button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.search_input {
  width: 30%;
  height: 100%;
  font-size: 17px;
}

input[type=text] {
  padding: 5px;
  border: 2px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.login_button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #524852;
  -moz-box-shadow: 0px 1px 3px #524852;
  box-shadow: 0px 1px 3px #524852;
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
}
.login_button:hover {
  background: #3cb0fd;
  text-decoration: none;
}



/* */
.classDiv {
  width: 85%;
  margin: auto;
  overflow: hidden;
  background-image: url("umlbg.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 5px;
  border: 2px solid black;
  border-radius: 0px;
}

.classTextTitle {
  width: 250px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 0px;
  float: left;
  text-align: left;
  font-family: "Verdana", Times, sans-serif;
  font-size: 23px;
  text-shadow: 3px 3px black;
}

.classText {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  float: left;
  text-align: left;
  font-family: "Verdana", Times, sans-serif;
  font-size: 20px;
  text-shadow: 3px 3px black;
}

.classTextDescription {
  float: left;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  width: auto;
  font-family: "Verdana", Times, sans-serif;
  font-size: 20px;
  text-shadow: 3px 3px black;
}

.classHiddenDiv {
  font-size: 20px;
  width: 80%;
  clear: both;
  display: block;
}

.classButton {
  float: right;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #3333cc;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 12%;
  transition: all 0.3s ease 0s;
}

.classButton:hover, .classButton:focus {
  background-color: #24248f;
}


/* Account.html button */

.UpdateInfo_button, .ViewPreviousClass_button, .RateClasses_button, .RateTeachers_button, .ViewMySequences_button{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #524852;
  -moz-box-shadow: 0px 1px 3px #524852;
  box-shadow: 0px 1px 3px #524852;
  color: #000000;
  font-size: 15px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  /*display: block;*/
  width: 20%;
}

.UpdateInfo_button:hover{
  background: #3cb0fd;
  text-decoration: none;
}
.ViewPreviousClass_button:hover{
  background: #3cb0fd;
  text-decoration: none;
}
.RateClasses_button:hover{
  background: #3cb0fd;
  text-decoration: none;
}
.RateTeachers_button:hover{
  background: #3cb0fd;
  text-decoration: none;
}
.ViewMySequences_button:hover{
  background: #3cb0fd;
  text-decoration: none;
}
